# Logitech MX Master 3S Configuration File for Logiops (https://github.com/PixlOne/logiops)
# This configuration file defines the behavior and actions for the MX Master 3S mouse.
# Author: @the_dise

# cid 0x50 - Left Click
# cid 0x51 - Right Click
# cid 0x52 - Scroll Wheel Click
# cid 0x53 - Back Button
# cid 0x56 - Forward Button
# cid 0xc3 - Thumb Button
# cid 0xc4 - Middle Button
# cid 0xd7 - idk

devices: (
{
    name: "MX Master 3S";
    smartshift:
    {
        on: true;
        threshold: 30;
        torque: 50;
    };
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    dpi: 1200;

    buttons: (
        {
            cid: 0xc3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        direction: "Down";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_H"];
                        };
                    },
                    {
                        direction: "Left";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_PAGEDOWN"];
                        };
                    },
                    {
                        direction: "Right";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_PAGEUP"];
                        };
                    },
                    {
                        direction: "None";
                        mode: "OnRelease";
			            action =
            		    {
                	        type: "Keypress";
                	        keys: ["KEY_LEFTMETA"];
            		    };
    		        }
                );
            };
        },
        {
            cid: 0xc4;
            action =
            {
		        type: "ToggleSmartshift";
            };
        },
    );
}
);

